doctype html
html(ng-app='yankee-app')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
  body
    header.header
      nav
        ul
          li.li
            a.a(href="home" data-title="Projects") Inicio
          li.li
            a.a(href="client" data-title="Projects") Clientes
          li.li
            a.a(href="" data-title="Projects") Projects
          li.li
            a.a(href="" data-title="Projects") Projects
          li.li
            a.a(href="" data-title="Projects") Projects
          li.li
            a.a(href="" data-title="Projects") Projects
    h1= title
    p Welcome to #{title}
    div(ng-controller="Client") 
      form(name="add-estimation", method="post", ng-init="searchTypeClient()")
        div.input
            span.label Nombre
            input(type="text", name="client.firtName", ng-model="client.firtName", placeholder="Nombre")
        div.input
            span.label Apellido
            input(type="text", name="client.lastName", ng-model="client.lastName" ,  placeholder="Apellido", )
        div.input-field.col.s12
            span.label Tipo de Cliente
            select(ng-model="typeClient.typeClient", ng-options="item.name for item in typeClient", style="display:block")
              option Selecciona el Tipo de Cliente    
        div.input
            span.label Cedula
            input(type="text", name="client.dni", ng-model="client.dni" ,  placeholder="Cedula", )
        div.input
            span.label Telefono
            input(type="text", name="client.phone", ng-model="client.phone" ,  placeholder="Telefono", )
        div.input
            span.label Limite de Bebida
            input(type="text", name="client.limit", ng-model="client.limit" ,  placeholder="Limite de Bebidas", )
        div.col.s12.input-field
            input.btn.btn-large(type="submit", value="Registrar", ng-click="registerClient()")            
    script(type="text/javascript" src="/javascripts/angular.min.js")
    script(type="text/javascript" src="/javascripts/client.js")               

           