extends dashboard
block content 
  h1 Dashboard
    nav
      ul
        li.li
          a.a(href="" data-title="Projects") Projects
        li.li
          a.a(href="" data-title="Projects") Projects
        li.li
          a.a(href="" data-title="Projects") Projects
        li.li
          a.a(href="" data-title="Projects") Projects
        li.li
          a.a(href="" data-title="Projects") Projects
        li.li
          a.a(href="" data-title="Projects") Projects

      