<!doctype html>
<html lang="en" ng-app='yankee-app'>

<head>
  <meta charset="utf-8">
  <title>Sistema de cEi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% include cssGlobal.html %>
    <link href="/stylesheets/home.css" rel="stylesheet">
</head>

<body class="cyan lighten-5">
  <% include navbar.html %>
    <!--home-->

    <!--Registrar Usuario-->
    <ul id="slide-add" class="side-nav" ng-controller="Register">
      <li>
        <div class="userView">
          <div style="display: inline-flex">
            <h4 style="padding: 0 10px;">Registrar Clientes</h4>
            <button class="btn btn-floating btn-large blue pulse" ng-click="clearClient()"><i class="material-icons">add</i></button>
          </div>
          <li>
            <div class="divider"></div>
          </li>
        </div>
        <div class="container">
          <div class="row">
            <form id="formRegister" name="formRegister" class="col s12" ng-init="seachClient()">
              <div class="row">
                <div class="row">
                  <div class="input-field col s8">
                    <i class="material-icons prefix">search</i>
                    <select id="search" ng-model="searchClient.searchClient" ng-options="item.firstName for item in searchClient" ng-change="recoveryClient()">
                    </select>
                  </div>
                </div>
                <div class="input-field col s12"></div>
                <div class="input-field col s12"></div>
                <div class="input-field col s12"></div>
                <div class="input-field col s12"></div>
                <input ng-show="idSuccess" id="client_id" type="text" ng-model="client.id">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input placeholder="Ej. Pablo" id="first_name" type="text" ng-model="client.name" required />
                    <label for="first_name">Nombre</label>
                    <div ng-show="errorUserSave">
                      <p class="errorLogin" ng-show="formRegister.first_name.$error.required">Ingrese un nombre</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">phone</i>
                    <input placeholder="Ej. 04165555555" id="phone" type="tel" ng-model="client.phone" required />
                    <label for="phone">Teléfono</label>
                    <div ng-show="errorPhoneSave">
                      <p class="errorLogin" ng-show="formRegister.phone.$error.required">Carácter inválido</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">room</i>
                    <input placeholder="Ej. Cabudare Urb. La Estancia" id="address" type="tel" ng-model="client.address">
                    <label for="address">Dirección</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <span>Tipo de cliente</span>
                    <h5 style="color: #d8d5d5">Los clientes vip no cancelaran bebidas o productos.</h5>
                    <h5 style="color: #d8d5d5">Si marca la opcion, debera indicar un limite de consumo.</h5>
                    <p>
                      <input type="checkbox" id="test5" ng-model="client.vip" ng-change="change()" />
                      <label for="test5">Vip</label>
                    </p>
                  </div>
                </div>
                <div class="input-field col s12"></div>
                <div class="input-field col s6" ng-show="client.vip">
                  <input id="limit_drink" type="text" ng-model="client.limit_drink" placeholder="0">
                  <label for="limit_drink">Bebidas</label>
                  <div ng-show="errorLimit_drink">
                    <p class="errorLogin" ng-show="formRegister.limit_drink.$error.required">Carácter inválido</p>
                  </div>
                </div>
                <div class="input-field col s6" ng-show="client.vip">
                  <input id="limit_food" type="text" ng-model="client.limit_food" placeholder="0">
                  <label for="limit_food">Productos</label>
                  <div ng-show="errorLimit_food">
                    <p class="errorLogin" ng-show="formRegister.limit_food.$error.required">Carácter inválido</p>
                  </div>
                </div>
                <div class="input-field col s12" ng-show="showSuccess">
                  <p class="message_text">El Cliente {{nameClient}} se ha Registrado</p>
                </div>
                <div class="input-field col s12" style="text-align: center;">
                  <button type="button" name="button_login" class="waves-effect waves-light btn" ng-click="registerClient()">GUARDAR</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </li>
    </ul>
    <div id="add-cliente" class="menuVertical valign-wrapper" style="float: right;">
      <a href="#" data-activates="slide-add" class="button-add"><i class="material-icons medium">add_circle</i></a>
    </div>
    <div style="background-color: #fff; width: 90%; height: 700px; display: inline-flex; position: absolute">
      <div class="container">
        <div style="width: 100%; height: 500px; background-color: red">

        </div>
      </div>

    </div>

    <% include javascriptGoblal.html %>
      <script type="text/javascript" src="/javascripts/home.js"></script>
      <script type="text/javascript">
        $(document).ready(function () {
          $(".caret").hide();
          $(".select-dropdown").hide();
          $("select").select2({
            placeholder: "Buscar un Cliente",
          });
        });
      </script>

</body>

</html>