 <!doctype html>
<html lang="en" ng-app='yankee-app'>
  <head>
      <meta charset="utf-8">
      <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" />
        <link href="/stylesheets/index.css" rel="stylesheet">
  </head>

  <body class="cyan lighten-5">
    <div class="valign-wrapper" id="login-page">
      <div class="container">
        <div class="center-aling">
          <div class="row">
            <div class="col s6 offset-s3">
              <div class="card">
                <div class="card-content" style="text-align: center">
                  <img class="responsive-img" style="width: 230px" src="/images/centroHipicoYankee.jpeg" />
                  <div class="left-aling">
                    <div ng-controller="Login">
                      <form id="login-form" name="add-estimation", method="post">
                        <div class="row">
                          <div class="col s12 input-field">
                            <i class="large material-icons prefix">account_circle</i>
                              <input type="text" name="txtUser" id="txtUser" ng-model="user.username" class="validate" />
                              <label for="txtUser" data-error="Campo Requerido">Ingrese Usuario</label>
                          </div>
                          <div class="col s12 input-field">
                            <i class="large material-icons prefix">lock</i>
                              <input type="password" id="txtPassword" name="txtPassword" ng-model="user.password" class="validate" />
                              <label for="txtPassword">Ingrese Contraseña</label>
                          </div>
                          <div class="col s12 input-field">
                            <button type="button" name="button_login" class="waves-effect waves-light btn-large" ng-click="login()">Entrar</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script>
      $(document).on("ready",function(){
        $('#login-page').css({'height': window.innerHeight + 'px'});
      });
    </script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
