<!--Menu Horizontal-->
<nav id="menu-horizontal">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo left" style="padding: 0 80px;">
      <h4>Inicio</h4>
    </a>
    <ul class="right hide-on-med-and-down">
      <a class="btn-floating waves-effect waves-light red" data-target="modal1"><i class="material-icons">power_settings_new</i></a>
    </ul>
  </div>
</nav>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 style="text-align: center">Esta seguro que desea salir del sistema?</h4>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div>
<!--Menu Vertical-->
<ul id="slide-out" class="side-nav">
  <li>
    <div class="userView">
      <div class="background">
        <img src="/images/background3.jpg">
      </div>
      <img class="circle" src="/images/user.png">
      <span class="white-text name"><%=firstName%> <%=lastName%></span>
      <span class="white-text name"><%=typeUser%></span>
    </div>
  </li>
  <li><a class="waves-effect" href="/home" data-title="Inicio">Inicio</a></li>
  <li><a class="waves-effect" href="/user" data-title="Inventario">Registrar Usuario</a></li>
  <li><a class="waves-effect" href="/client" data-title="Inventario">Registrar Cliente</a></li>
  <li><a class="waves-effect" href="/products" data-title="Inventario">Registrar Productos</a></li>
  <li><a class="waves-effect" href="/inventory" data-title="Inventario">Inventario</a></li>
  <li><a class="waves-effect" href="/reports" data-title="Reportes">Reportes</a></li>
  <li><a class="waves-effect" href="/configuration" data-title="Configuracion">Configuracion</a></li>
</ul>
<div id="home-page" class="menuVertical valign-wrapper">
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons medium">menu</i></a>
</div>