<!doctype html>
<html lang="en" ng-app='yankee-app'>

<head>
  <meta charset="utf-8">
  <title>Sistema de cEi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% include cssGlobal.html %>
    <link href="/stylesheets/jquery2.css" rel="stylesheet">
</head>

<body class="cyan lighten-5" ng->
  <% include navbar.html %>

    <div class="container_form" ng-controller="Client">
      <form class="col s12" ng-init="seachClient()">
        <div class="row">
          <input ng-show="idSuccess" id="client_id" type="text" ng-model="client.id">
          <div class="input-field col s12">
            <select id="search" class="searchSelect" ng-model="searchClient.searchClient" ng-options="item.firstName for item in searchClient"
              ng-change="recoveryClient()">
                  </select>
          </div>
          <div class="input-field col s6">
            <input placeholder="Ingrese el Nombre del Cliente" id="first_name" type="text" ng-model="client.name">
            <label for="first_name">Nombre del Cliente</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Ingrese el Teléfono del Cliente" id="icon_telephone" type="tel" ng-model="client.phone">
            <label for="icon_telephone">Teléfono del Cliente</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Ingrese la dirección del Cliente" id="icon_telephone" type="tel" ng-model="client.address">
            <label for="icon_telephone">Dirección del Cliente</label>
          </div>
          <div class="input-field col s6">
            <span>Tipo de cliente</span>
            <p>
              <input type="checkbox" id="test5" ng-model="client.vip" ng-change="change()" />
              <label for="test5">Vip</label>
            </p>
          </div>
          <div class="input-field col s6" ng-show="client.vip">
            <input id="limit" type="text" ng-model="client.limit_drink" placeholder="Ingrese el limite de Bebida">
            <label for="limit">Limite de Bebidas</label>
          </div>
          <div class="input-field col s6" ng-show="client.vip">
            <input id="limit" type="text" ng-model="client.limit_food" placeholder="Ingrese el limite de Comida">
            <label for="limit">Limite de Productos</label>
          </div>
          <div class="input-field col s6" ng-show="showSuccess">
            <p class="message_text">El Cliente {{nameClient}} se ha Registrado</p>
          </div>
          <div class="input-field col s12" style="text-align: center;">
            <button type="button" name="button_login" class="waves-effect waves-light btn" ng-click="registerClient()">GUARDAR</button>
          </div>
          <div class="input-field col s12" style="text-align: center;">
            <button type="button" name="button_login" class="waves-effect waves-light btn" ng-click="clearClient()">LIMPIAR</button>
          </div>
          <div class="input-field col s12" style="text-align: center;" ng-show="containerDelete">
            <button type="button" name="button_login" class="waves-effect waves-light btn" ng-click="deleteClient()">ELIMINAR</button>
          </div>
        </div>
      </form>
    </div>
    <% include javascriptGoblal.html %>

      <script type="text/javascript" src="/javascripts/client.js"></script>
      
</body>

</html>