<!doctype html>
<html lang="en" ng-app='yankee-app'>

<head>
  <meta charset="utf-8">
  <title>Sistema de cEi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% include cssGlobal.html %>
    <link href="/stylesheets/jquery2.css" rel="stylesheet">
</head>

<body class="cyan lighten-5" ng->
  <% include navbar.html %>

    <div class="container_form" ng-controller="User">
      <form class="col s12">
        <div class="row">
          <input ng-show="idSuccess" id="user_id" type="text" ng-model="user.id">
          <div class="input-field col s12" ng-init="searchUsers()">
            <select id="search" class="searchSelect" ng-model="searchUser.searchUser" ng-options="item.firstName for item in searchUser"
              ng-change="recoveryUser()">
                  </select>
          </div>
          <div class="input-field col s6">
            <input placeholder="Ingrese el Nombre" id="first_name" type="text" ng-model="user.name">
            <label for="first_name">Nombre de la Persona</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Ingrese el Apellido" id="first_name" type="text" ng-model="user.last_name">
            <label for="first_name">Apellido de la Persona</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Ingrese el Usuario" id="first_name" type="text" ng-model="user.username">
            <label for="first_name">usuario de la Persona</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Ingrese La contraseña" id="first_name" type="password" ng-model="user.password">
            <label for="first_name">Ingrese la Contraseña</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Ingrese el Teléfono del Usuario" id="icon_telephone" type="tel" ng-model="user.phone">
            <label for="icon_telephone">Teléfono del Usuario</label>
          </div>
          <div class="input-field col s12" ng-init="searchTypeUser()">
            <select id="searchType" name="searchType" class="searchSelect" ng-model="typeUser.typeUser" ng-options="item.name for item in typeUser"
              ng-change="recoveryUser()">
                  </select>
            <label for="searchType">Seleccione el Tipo de Usuario</label>      
          </div>
         
          <div class="input-field col s6" ng-show="showSuccess">
            <p class="message_text">El Usuario {{nameUser}} se ha Registrado</p>
          </div>
          <div class="input-field col s12" style="text-align: center;">
            <button type="button" name="button_login" class="waves-effect waves-light btn" ng-click="registerUser()">GUARDAR</button>
          </div>
          <div class="input-field col s12" style="text-align: center;">
            <button type="button" name="button_login" class="waves-effect waves-light btn" ng-click="clearuser()">LIMPIAR</button>
          </div>
          <div class="input-field col s12" style="text-align: center;" ng-show="containerDelete">
            <button type="button" name="button_login" class="waves-effect waves-light btn" ng-click="deleteuser()">ELIMINAR</button>
          </div>
        </div>
      </form>
    </div>
    <% include javascriptGoblal.html %>
      <script type="text/javascript" src="/javascripts/select2.js"></script>
      <script type="text/javascript" src="/javascripts/user.js"></script>
      <script type="text/javascript">
        $(document).ready(function () {
          $(".caret").hide();
          $(".select-dropdown").hide();
          $("select").select2({
            placeholder: "Buscar un Cliente",
          });
        });
      </script>
</body>

</html>