body {
  margin:0;
  padding:0;
}
h4 {
    color: #fff;
	margin: 0 auto;
	line-height: 63px;
}
h5 {
	color: #fff;
}
/*style menu vertical*/
.side-nav {
    background-color: #31bfa6;
}
.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
	padding: 0 23.5px 0 60px;
	height: 90px;
    line-height: 90px;
}
.side-nav li>a {
	color: #fff;
    display: block;
    font-size: 24px;
    font-weight: 600;
    height: 100px;
    line-height: 100px;
    padding: 0 32px;
}
.menuVertical {
	display: inline-flex;
    background-color: rgba(0, 0, 0, 0.5);
    width: 5%;
}
.menuVertical a {
	color: #fff;
    margin: 0 auto;
}
#slide-out span {
	cursor: pointer;
}
.side-nav .userView .name {
    margin-top: 5px;
    font-size: 22px;
}
/*style menu horizontal*/
nav {
	background-color: #333;
}